extends layout
block script
    script(type="application/javascript", src="/socket.io/socket.io.js")
    script(type="application/javascript", src="/javascripts/bootstrap-slider.js")
    script(type="application/javascript", src="/javascripts/followscrolling.js")
    script(type="application/javascript", src="/javascripts/draw.js")
    script(type="application/javascript", src="/javascripts/tweetbutton.js")
block link
    link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap-slider.css")
block body
    div.container(style="max-width: none; important; width: 970px;")
        div.row
            div#left.col-xs-8
                div#canvases.frame
                    canvas#combinationCanvas(width="500px", height="1100px")
                    canvas#frameCanvas(width="500px", height="1100px")
                    canvas#mainCanvas(width="500px", height="1100px")
                    canvas#cursorCanvas(width="500px", height="1100px")
            div#right.col-xs-4
                div#tool-area
                    div
                        canvas#previewCanvas(width="200px", height="200px")
                    div
                        div.btn-group(data-toggle="buttons")
                            label#stamp.btn.btn-default.active
                                input(type="radio" name="tools" value="stamp")
                                すた
                            label#brush.btn.btn-default
                                input(type="radio" name="tools" value="brush")
                                描く
                            label#eraser.btn.btn-default
                                input(type="radio" name="tools" value="eraser")
                                消す
                            label#word.btn.btn-default
                                input(type="radio" name="tools" value="word")
                                文字
                        button#undo.btn.btn-default(type="button") 戻す
                    div.slider-area
                        div#brushSizeDiv
                            label#brushSizeLabel.label-slider(title="クリックで初期値に戻す") サイズ
                            input#brushSize(type="text")
                        div#stampSizeDiv
                            label#stampSizeLabel.label-slider(title="クリックで初期値に戻す") サイズ
                            input#stampSize(type="text")
                        div
                            label#stampAngleLabel.label-slider(title="クリックで初期値に戻す") 回転
                            input#stampAngle(type="text")
                        div
                            label.label-slider 反転
                            button#vInversion.btn.btn-default(type="button" data-toggle="button") 上下
                            button#hInversion.btn.btn-default(type="button" data-toggle="button") 左右
                    div
                        div
                            label すたんぷ
                        img#stamp1.radio-group.selected(src="/images/stamp1.png")
                        img#stamp2.radio-group(src="/images/stamp2.png")
                        img#stamp3.radio-group(src="/images/stamp3.png")
                        img#stamp4.radio-group(src="/images/stamp4.png")
                        img#stamp5.radio-group(src="/images/stamp5.png")
                        img#stamp6.radio-group(src="/images/stamp6.png")
                        img#stamp7.radio-group(src="/images/stamp7.png")
                        img#stamp8.radio-group(src="/images/stamp8.png")
                        img#stamp9.radio-group(src="/images/stamp9.png")
                    div
                        button#post.btn.btn-info(type="button") 投稿する
                        button#clear.btn.btn-default(type="button") クリア
                    div#tweetButtonWrapper
                    div#pentablet
