doctype 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="Content-Language", content="ja")
        meta(name="robots", content="noindex, nofollow")
        title= title
        script(type="application/javascript", src="/javascripts/analytics.js")
        script(type="application/javascript", src="/javascripts/bootstrap.min.js")
        link(rel="icon", href="/images/favicon.png", type="image/png")
        link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    body
      div.container(style="max-width: none; important; width: 300px;")
            div.row
                h3 使い方
                ol
                    li 描いて、
                    li 投稿するだけ。
                    li ツイートもできます。
                h3 キーボードショートカット
                ul
                    li
                        kbd 1
                        | 〜
                        kbd 9
                        | &nbsp;：&nbsp;「すた」 (各すたんぷに対応)
                    li
                        kbd B
                        | &nbsp;：&nbsp;「描く」
                    li
                        kbd E
                        | &nbsp;：&nbsp;「消す」
                    li
                        kbd C
                        | &nbsp;：&nbsp;「文字」
                    li
                        kbd S
                        | &nbsp;+&nbsp;スクロール
                        | &nbsp;：&nbsp;「サイズ」
                    li
                        kbd R
                        | &nbsp;+&nbsp;スクロール
                        | &nbsp;：&nbsp;「回転」
                    li
                        label サイズ
                        | &nbsp;クリック
                        | &nbsp;：&nbsp;「サイズ」リセット
                    li
                        label 回転
                        | &nbsp;クリック
                        | &nbsp;：&nbsp;「回転」リセット
                    li
                        kbd V
                        | &nbsp;：&nbsp;「上下」
                    li
                        kbd H
                        | &nbsp;：&nbsp;「左右」
                    li
                        kbd Z
                        | &nbsp;：&nbsp;「戻す」
                    li
                        kbd P
                        | &nbsp;：&nbsp;筆圧対応 (Chrome非対応)
