extends layout
block meta
    meta(name="keywords", content="すたちゅー,スタチュー,すたちゅーさん,スタチューさん,4コマ,漫画,マンガ,まんが")
    meta(name="description", content="すたちゅーさんの4コマまんがを描こう！")
    meta(name="robots", content="nofollow")
block body
    div.container(style="max-width: none; important; width: 970px;")
        div.row
            div.col-xs-12
                p
                    作った人・お問い合わせ先&nbsp;
                    a(href="https://twitter.com/rgx_6") @rgx_6
                    &nbsp;&nbsp;&nbsp;
                    すたちゅーさんの生みの親・素材&nbsp;
                    a(href="https://twitter.com/dangoinette") @dangoinette
