doctype 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="Content-Language", content="ja")
        block meta
            meta(name="robots", content="noindex, nofollow")
        title= title
        script(type="application/javascript", src="/javascripts/analytics.js")
        script(type="application/javascript", src="/javascripts/jquery-2.1.0.min.js")
        script(type="application/javascript", src="/javascripts/bootstrap.min.js")
        script(type="application/javascript", src="/javascripts/navbar.js")
        block script
        link(rel="icon", href="/images/favicon.png", type="image/png")
        link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
        block link
    body
        nav.navbar.navbar-default(role="navigation")
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
                        span.sr-only
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") 4コマすたちゅーさん
                div#navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li#navbar-list
                            a(href="/list") 作品を観る
                        li#navbar-draw
                            a(href="/draw") まんがを描く
        block body
        p.text-center &copy;&nbsp;2014&nbsp;
            a.navbar-link(href="https://twitter.com/rgx_6") @rgx_6
            ,&nbsp;
            a.navbar-link(href="https://twitter.com/dangoinette") @dangoinette
