doctype 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="icon", href="/images/favicon.png", type="image/png")
        title= title
        block head
    body
        block body
