extends layout
block script
    script(type="application/javascript", src="/javascripts/jquery.simplePagination.js")
    script(type="application/javascript", src="/javascripts/list.js")
block body
    div.container
        div.text-center
            h1 作品一覧
            ul#pagination.pagination
            div#list.clearfix
