extends layout
block script
    script(type="application/javascript", src="/javascripts/jquery.simplePagination.js")
    script(type="application/javascript", src="/javascripts/ReadLog.js")
    script(type="application/javascript", src="/javascripts/list.js")
block body
    div.container
        div.text-center
            h1#title 作品一覧
            div.row.clearfix
                div.input-group.col-xs-3.pull-right
                    input#author.form-control(type="text", placeholder="描いた人")
                    span.input-group-btn
                        button#search.btn.btn-default(type="button") 検索
            ul#paginationTop.pagination
            div#list.clearfix
            ul#paginationBottom.pagination
