/**
 * canvas
*/

.frame {
  height: 1200px;
  width: 600px;
  padding: 50px;
  background-color: #c5c5c5;
  border-radius: 20px;
}

.frame-half {
  height: 600px;
  width: 300px;
  padding: 25px;
  background-color: #c5c5c5;
  border-radius: 10px;
}

#canvases {
  position: relative;
}

#canvases canvas {
  position: absolute;
  top: 50px;
  left: 50px;
}

#combinationCanvas {
  z-index: 0;
  display: none;
}

#frameCanvas {
  z-index: 10;
}

#mainCanvas {
  z-index: 20;
}

#cursorCanvas {
  z-index: 30;
}

#previewCanvas {
  border: 3px solid #000000;
  border-radius: 10px;
}

/**
 * ツールメニュー
*/

#tool-area > div {
  margin-top: 10px;
}

/**
 * slider
*/

.label-slider {
  width: 50px;
}

.slider-area button {
  margin-right: 5px;
}

/**
 * スタンプ選択
*/
.radio-group {
  border: 3px solid #ffffff;
}

.radio-group.selected {
  border: 3px solid #3ba3d7;
}

img.radio-group {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

/**
 * その他
*/

#undo {
  margin-left: 20px;
}

#post, #clear {
  margin-right: 10px;
}

/**
 * 一覧ページ
*/

.thumbnail {
  position: relative;
  margin: 10px;
}

.thumbnail .label {
  position: absolute;
  top: 0px;
  left: 0px;
}

/**
 * 閲覧ページ
*/

.view {
  width: 600px;
  padding: 0;
}

.badge {
  margin-left: 5px;
}
